$col1: #667;

.container_block_page{
    border-radius: 0.5rem;
    background: #222229;
    padding: 2rem;
    .back{
        padding: 0 5rem;
        button{
            outline: none;
            border: none;
            color: #fff;
            border-radius: 0.2rem;
            padding: 0.3rem 1rem;
            font-size: 18px;
        }
    }
    .block_page{
        padding: 3rem 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .intro_info{
            .temp{
                font-size: 68px;
                color: #bbc;
            }
        }
        .precipitation{
            text-align: right;
            margin-right: 2rem;
        }
        .icon{
            width: 200px;
            height: 200px;
            justify-self: end;
        }
    }
}